* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://cdn.imgchest.com/files/my8xckdzm4l.png);
    background-repeat: no-repeat;
    max-width: 1143px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
    font-family: 'Roboto', Arial, sans-serif;
}

.container{
    display: grid;
    grid-template-rows: minmax(50px,135px) minmax(50px, 270px) minmax(50px, 127px) minmax(50px,  328px) minmax(50px, 165px);
    grid-template-columns: minmax(20px, 90px) minmax(20px, 402px) minmax(20px, 223px) minmax(20px, 268px);
    grid-template-areas: 
      "one   six   six   six"
      "two   two   two   two"
      "three three three three"
      "four  four  seven eight"
      "five  five  five  five" 
      ;
}

@media (max-width: 500px) {
    .container {
        grid-template-rows: repeat(8, auto);
        grid-template-columns: 100%;
        grid-template-areas:
            "one"
            "six"
            "two"
            "three"
            "four"
            "seven"
            "eight"
            "five";
    }
}

.logo {
    display: none;
}

.container > * {
    border: 2px dashed blue;
}

.box1{
    grid-area: one;
    grid-template-columns: 91px;
}
.box2{
    grid-area: two;
}
.box3{
    grid-area: three;
}
.box4{
    grid-area: four;
}
.box5{
    grid-area: five;
}
.box6 {
    grid-area: six;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    padding-top: 23px; 
    padding-left: 14px; 
}

h3 {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 7px;
    font-size: 22px;
    color: #333;
    font-weight: 500;
    word-spacing: -1.1px;
}

.box7{
    grid-area: seven;
}
.box8{
    grid-area: eight;
}


.main_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin: 0;
    font-size: 14px;
    color: #8c8c8c;    
    padding-top: 2px;
    font-family: 'Roboto', Arial, sans-serif;
}

.main_menu li {
    padding-bottom: 1px;
    word-spacing: 0.3px;
}

.main_menu li:last-child::after {
    content: none;
}

.main_menu li::after{
    content: "·";
    color: #ccac47;
    margin-left: 9.6px;
    margin-right: 9.6px;
}



.btn{
    width: fit-content;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
background-color: #e5bc3d;
    display: block;
    height: 25px;
    line-height: 24px;
    padding: 0 6px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    allign-items: center;
    border: none;
    filter: brightness(100%);


}