* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: none;
    opacity: 1;
    font-size: 2rem;
    color: blue;
    font-family: 'Roboto', Arial, sans-serif;
}

body > img {
    display: none;
}

.box1 img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: 25px;
}

.container {
    display: grid;
    max-width: 1143px;
    margin: 0 auto;
    grid-template-rows: 135px 270px 127px 328px 165px;
    grid-template-columns: 200px 1fr 223px 268px;
    grid-template-areas: 
      "one   two   two   two"
      "six   two   two   two"
      "six   three three three"
      "four   four  seven eight"
      "five  five  five  five";
}

@media (max-width: 500px) {
    .container {
        grid-template-rows: repeat(8, auto);
        grid-template-columns: 100%;
        grid-template-areas:
            "one"
            "six"
            "two"
            "three"
            "four"
            "seven"
            "eight"
            "five";
    }
}

h3{
    display: none;
}

.container > * {
    border: 2px dashed blue;
}

.box1 {
    grid-area: one;
}
.box2 {
    grid-area: two;
}
.box3 {
    grid-area: three;
}
.box4 {
    grid-area: four;
}
.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
}
.box7 {
    grid-area: seven;
}
.box8 {
    grid-area: eight;
}


.main_menu {
    display: flex;
    flex-direction: column;
    background-color: #e5bc3d;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 20px;
    color: black;
    font-family: 'Roboto', Arial, sans-serif;
    height: 100%;
}

.main_menu li {
    padding: 18px;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    position: relative;
    display: block;
    justify-content: space-between;
    word-wrap: break-word;
}

.main_menu li::after {
    content: " >";
    display: inline;
    margin-left: 5px;
    right: 18px;
    color: black;
}

.main_menu li:last-child {
    border-bottom: none;
}
