* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: none;
    opacity: 1;
    font-size: 2rem;
    color: blue;
    font-family: 'Roboto', Arial, sans-serif;
}

body > img:nth-of-type(1) {
    display: none;
}

body > img {
    display: none;
}

.box1 img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: 25px;
}

.container {
    display: grid;
    max-width: 1143px;
    margin: 0 auto;
    grid-template-rows: 135px 270px 127px 328px 165px;
    grid-template-columns: 200px 1fr 223px 268px;
    grid-template-areas: 
      "one   two   two   two"
      "six   two   two   two"
      "six   three three three"
      "four   four  seven eight"
      "five  five  five  five";
}

@media (max-width: 500px) {
    .container {
        grid-template-rows: repeat(8, auto);
        grid-template-columns: 100%;
        grid-template-areas:
            "one"
            "six"
            "two"
            "three"
            "four"
            "seven"
            "eight"
            "five";
    }
}

h3{
    display: none;
}

.container > * {
    border: 2px dashed blue;
}

.box1 {
    grid-area: one;
}
.box2 {
    grid-area: two;
        background-image: url('https://cdn.imgchest.com/files/3367a429d1e8.png');
        background-size: cover; 
        background-position: center; 
        width: 100%;
        height: 100%;

}
.box3 {
    grid-area: three;
        background-image: url('https://cdn.imgchest.com/files/600c034fd272.png');
        background-position: center;
        width: 100%;
        height: 100%;

}
.box4 {
    grid-area: four;
}
.box5 {
    grid-area: five;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.box6 {
    grid-area: six;
}
.box7 {
    grid-area: seven;
}
.box8 {
    grid-area: eight;
}

#first{
        display: flex;
        list-style: none;
        font-size: 1.6rem;
        color: chartreuse;
        justify-content: space-evenly;
        align-items: center;
        
}
.box7 > h4{
    font-size: 1.0rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: black;

}

.box7 > ol{
    list-style: none;
    font-size: 1.2rem;
    color: black;
    display: flex;
    gap: 40px;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 20px;
}

.box8 > h4{
    font-size: 1.0rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: black;
}

.numBox{
    background-color: #f0f2f5;
    padding: 12px 12px;         
    border-radius: 6px;
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
}

.box8 > ol{
    list-style: none;
    font-size: 1.2rem;
    color: black;
    display: flex;
    gap: 40px;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 20px;
    white-space: nowrap;
}


.news{
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    list-style: none;
    color: black;
    height: 90%;
    justify-content: flex-start;
    align-items: center;
}

#titleForNews{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
    color: black;
    position: relative;

}

.bottom_logo{
    grid-column: 1;
    width: 5%;
    height: 33%;
    margin-left: 1%;
    margin-top: 2%;
}

.h5_tag{
    margin-left: 4%;
    margin-top: 0%;
    font-size: 1.4rem;
    color: black;

}


.box5 p{
    grid-column: 2;
    font-size: 0.7rem;
}

.first_column{
    grid-column: 1;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.first_column img{
    width: 15%;
    height: auto;
    margin-bottom: 1%;
}

.column_three{
    position: relative;
    grid-column: 3;
    height: 100%;
    width: 100%;
}

.column_three img{
    position: absolute;
    grid-column: 3;
    width: 40%;
    height: auto;
    right: 10px;
    top: 10px;
}










.main_menu {
    display: flex;
    flex-direction: column;
    background-color: #e5bc3d;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 20px;
    color: black;
    font-family: 'Roboto', Arial, sans-serif;
    height: 100%;
}

.main_menu li {
    padding: 18px;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    position: relative;
    display: block;
    justify-content: space-between;
    word-wrap: break-word;
}

.main_menu li::after {
    content: " >";
    display: inline;
    margin-left: 5px;
    right: 18px;
    color: black;
}

.main_menu li:last-child {
    border-bottom: none;
}

